.grid {
  width: 80%;
  height: 100%;
  margin: 0 10%;
  position: fixed;
  left: 0;
  background-color: transparent;
  mix-blend-mode: soft-light;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  opacity: 0.6;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-animation: 2s ease both draw;
  animation: 2s ease both draw;
}
.grid span {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-animation: 2s ease both draw;
  animation: 2s ease both draw;
}
@media (max-width: 660px) {
  .grid span.eight,
  .grid span.seven,
  .grid span.six,
  .grid span.five,
  .grid span.four,
  .grid span.three {
    display: none;
  }
}
